<div class="mainpanel center round">

	<h2>Make Changes</h2>

    <%= render :partial => "user_form" %>

	<br/>
	<div>
	  <%= gravatar_for @user %>
	  <a href="http://gravatar.com/emails">Gravatar</a>
	</div>
	
</div>