<%
#  Awesome Maps Google API home page.
#  Shows your server location,
#  Displays comments about the page, and lets you log-in.
%>
<div id="maincontain" class="center clouds round">
       
    <div id="map_container" class="round fleft">
       	<div id="map_canvas"></div> 
    </div>
        
    <div id="people" class="fleft">
		<% if signed_in? %>
            <h3>Your Contacts</h3>
            <ul id="peepslist">
                <%= render :partial => "contacts/contact_link",  :collection => current_user.contacts %>
            </ul>
		<% else %>
       	    <h3>Enter Contacts</h3>
           	<ul id="peepslist">
               <li> Lorem Ipsum </li>
               <li> Vestibulum Ante </li>
               <li> Aenean Semper </li>
               <li> Parturient Montes </li>
               <li> Fusce lectus Velit </li>
               <li> Vivamus Bibendum </li>
            </ul>
		<% end %>
            
		<%= link_to image_tag("plus25.png", :alt => "Contacts", :width =>18, :border => 0), contacts_path %> Manage People!
    </div>

    <div id="comments" class="round center">
        <hr />
    </div>
  
</div>

